@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0; /* Chrome, Safari, Opera */
}
body{
  width: 100%;
  overflow-x: hidden;
 
}

@layer utilities
{
  .links
    {
      @apply text-[16px] max-md:hidden
    }
    .side
    {
      @apply absolute top-0 flex flex-col h-[100vh] w-[50%] justify-center items-center space-y-12  md:hidden bg-[#172554] text-white
    }
    .not-active
    {
      @apply right-[-100%]
    }
    .tran
    {
      transition: all 1s ease;
    }
    .border-radius
    {
      border-radius: 20px;
    }
    .trailer-border
  {
    border-radius: 10px;
  }
  .drop-menus
  {
    @apply text-[18px] text-blue-400 hover:text-blue-800 transition-all
  }
  .inputs{
    @apply px-3 py-2 border-[1px] border-slate-400 w-[100%] text-black
  }
  }